body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#ff0000, #5a0000);
    ;
}

.heart {
    position: relative;
    width: 200px;
    height: 200px;
    background: #e80202;
    transform: rotate(45deg);
    filter: drop-shadow(20px 30px 40px black);
    animation: animate 1s linear infinite;
}

h3 {
    font-family: cursive;
    font-size: 40px;
    align-self: center;
    text-align: center;
    justify-self: center;
    margin-left: 5rem;
    color: white;
}

@keyframes animate {
    0% {
        transform: rotate(45deg) scale(1);
    }

    20% {
        transform: rotate(45deg) scale(.8);
    }

    40% {
        transform: rotate(45deg) scale(1.2);
    }

    60% {
        transform: rotate(45deg) scale(1);
    }


    80% {
        transform: rotate(45deg) scale(1.3);
    }

    100% {
        transform: rotate(45deg) scale(1);
    }



}

.heart:before {
    content: '';
    position: absolute;
    top: -100px;
    width: 200px;
    height: 100px;
    background: #e80202;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.heart:after {
    content: '';
    position: absolute;
    left: -100px;
    width: 100px;
    height: 200px;
    background: #e80202;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

@media(max-width: 800px) {
    body {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .heart {
        width: 200px;
        margin: 4rem auto;
        animation: none;
        height: 50%;
        justify-content: center;

    }

    h3 {
        font-size: 2rem;
        justify-content: end;
        text-align: left;
    }
}